<div class="login-container">
    <h2>Login</h2>
      <div class="form-group">
        <label for="username">Username:</label>
        <input 
          type="text" 
          id="username" 
          name="username" 
          [(ngModel)]="username" 
          required 
          placeholder="Enter your username" 
        />
      </div>
      
      <div class="form-group">
        <label for="password">Password:</label>
        <input 
          type="password" 
          id="password" 
          name="password" 
          [(ngModel)]="password" 
          required 
          placeholder="Enter your password" 
        />
      </div>
  
      <button (click)="login()">Login</button>
  
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
  